.logo {
	font-family: $sub-font;
	font-weight: $bold-font-weight;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;

	&__web {
		color: $accent-color;
	}

	&__studio--black {
		color: $text-logo-color;
	}

	&__studio--white {
		color: $primary-white-color;
	}
}
