$main-text-color: #212121;
$sub-text-color: #757575;
$extra-text-color: rgba(255, 255, 255, 0.6);
$text-logo-color: #000000;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$main-background-color: #2f303a;
$second-background-color: #f5f4fa;
$main-icon-color: #afb1b8;

$main-font: "Roboto", sans-serif;
$sub-font: "Raleway", sans-serif;

$main-font-weight: 400;
$secondary-font-weight: 500;
$bold-font-weight: 700;
$extra-font-weight: 900;
